# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Ryan Webster
email: rwebster731@outlook.com
description: >- # this means to ignore newlines until "baseurl:"
  Engineering Portfolio for Ryan Webster.
# twitter_username: username
github_username: ryanwebs
minimal_mistakes_skin: mint
search: true

url: https://ryanwebs.github.io # the base hostname & protocol for your site e.g. "https://mmistakes.github.io"
baseurl: "/portfolio" # the subpath of your site, e.g. "/blog"

# Build settings
markdown: kramdown
remote_theme: mmistakes/minimal-mistakes
# theme: "minimal-mistakes-jekyll"
# Outputting
permalink: /:categories/:title/
# paginate: 5 # amount of posts to show
# paginate_path: /page:num/
timezone: # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
github: [metadata]

include:
  - _pages

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

author:
  name   : "Ryan Webster"
  avatar : ""
  bio    : >
    Hi, I'm Ryan! I'm a Mechanical Engineer with a BSc from UMass Lowell. 
    Currently building some 3D printers at Formlabs.
    I love to create whatever I find interesting, and understand how the technology that
    drives the world works.
    
  location: "Danvers, MA"
  links:
    - label: "Email"
      icon: "fas fa-fw fa-envelope-square"
      url: "mailto:rwebster731@outlook.com"
    - label: "Resume"
      icon: "far fa-fw fa-file-pdf"
#      url: /assets/files/resume.pdf
      new_tab: true
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/ryanwebs"
      new_tab: true
    - label: "LinkedIn"
      icon: "fab fa-fw fa-linkedin"
      url: "https://www.linkedin.com/in/kelly-mathesius/"
      new_tab: true

footer:
  links:
    # - label: "Twitter"
    #   icon: "fab fa-fw fa-twitter-square"
    #   url: "https://twitter.com/"
    # - label: "GitHub"
    #   icon: "fab fa-fw fa-github"
    #   url: "https://github.com/"
    # - label: "Instagram"
    #   icon: "fab fa-fw fa-instagram"
    #   url: "https://instagram.com/"

collections:
  publications:
    output: true
    permalink: /:collection/:path/
  projects:
    output: true
    permalink: /:collection/:path/


defaults:
  # _projects
  - scope:
      path: ""
      type: projects
    values:
      layout: single
      author_profile: true
      read_time: false
      comments: true
      share: true
      related: false
  # _publications
  - scope:
      path: ""
      type: publications
    values:
      layout: single
      author_profile: true
      read_time: false
      comments: true
      share: true
      related: false
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/
