.archive__item {
  background: #30e3ca;
  border: 3px solid #1e40af;
  border-radius: 14px;
  padding: 1rem;
  margin-bottom: 1.5rem;
}

.archive__item-title {
  background: white;
  border-radius: 10px;
  padding: 0.75rem;
  border: 1px solid #cbd5e1;
}

.archive__item-excerpt {
  background: white;
  border-radius: 10px;
  padding: 0.75rem;
  border: 1px solid #cbd5e1;
}
