---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.archive__item {
  background: #30e3ca;
  border: 3px solid #1e40af;
  border-radius: 14px;
  padding: 1rem;
  margin-bottom: 1.5rem;
}

.archive__item-title {
  background: white;
  border-radius: 10px;
  padding: 0.75rem;
  border: 1px solid #cbd5e1;
}

.archive__item-excerpt {
  background: white;
  border-radius: 10px;
  padding: 0.75rem;
  border: 1px solid #cbd5e1;
}
