---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.archive__item {
  background: #80e0d3;
  border-radius: 20px;
  margin-top: 1.5rem;
  padding: 0.1rem 1rem; /* Reduced padding */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden; /* Prevents overflow when excerpt is hidden */

  &:hover {
    transform: scale(1.05); /* 5% bigger */
    box-shadow: 0 8px 16px rgba(0,0,0,0.2); /* optional: subtle shadow */

    .archive__item-excerpt {
      opacity: 1;
      max-height: 200px; /* Adjust as needed for the height of the excerpt */
    }
  }
}

.archive__item-title {
  background: white;
  border-radius: 20px;
  padding: 1rem;
  border: 3px solid #cbd5e1;
  margin-top: 1rem;

  a {
    color: #40514e; /* sets link text to black */
    text-decoration: none; /* optional: remove underline */

    &:hover {
      text-decoration: underline;
    }
  }
}

.archive__item-teaser,
.archive__item-excerpt {
  border-radius: 20px;
  margin: 1rem 0;
  background: white;
  border: 3px solid #cbd5e1;
  padding: 1rem;
  opacity: 0;
  transition: opacity 0.3s ease, max-height 0.3s ease; /* Added transition for max-height */
  max-height: 0; /* Initially hidden */
  overflow: hidden; /* Prevents overflow when hidden */
}

.page__footer {
  background-color: #80e0d3; 
}

/* GREEN

button.search__toggle {
  color: #c7ffad; 
}

button.search__toggle::after {
  color: #7cb860; 
}

.greedy-nav .visible-links a:before { content: ""; position: absolute; inset-inline-start: 0; bottom: 0; height: 4px; background: #c7ffad; width: 100%; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; -webkit-transform: scaleX(0) translate3d(0, 0, 0); transform: scaleX(0) translate3d(0, 0, 0); }

a {
  color: #7cb860;
}

 */

