---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.archive__item {
  background: #c7ffd8;
  border-radius: 16px;
  margin-bottom: 2rem;
  box-sizing: border-box;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
}

.archive__item-title {
  background: white;
  border-radius: 16px;
  padding: 1rem;
  border: 3px solid #cbd5e1;
  margin-top: 1rem;
}

.archive__item-teaser {
  border-radius: 16px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}


.archive__item-excerpt {
  background: white;
  border-radius: 16px;
  padding: 1rem;
  border: 3px solid #cbd5e1;
  margin-bottom: 1rem;
}
