---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.archive__item {
  background: #c7ffd8;
  border-radius: 16px;
  margin-bottom: 1rem;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.archive__item-title {
  background: white;
  border-radius: 16px;
  padding: 13px;
  border: 3px solid #cbd5e1;
}

.archive__item-teaser {
  border-radius: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}


.archive__item-excerpt {
  background: white;
  border-radius: 16px;
  padding: 13px;
  border: 3px solid #cbd5e1;
}
