---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.archive__item {
  background: #98eadf;
  border-radius: 20px;
  margin-top: 1.5rem;
  box-sizing: border-box;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  transition: transform 0.3s ease, box-shadow
}

.archive__item:hover {
  transform: scale(1.05); /* 5% bigger */
  box-shadow: 0 8px 16px rgba(0,0,0,0.2); /* optional: subtle shadow */
}

.archive__item-title a {
  color: #40514e;      /* sets link text to black */
  text-decoration: none; /* optional: remove underline */
}
  .archive__item-title a:hover {
  text-decoration: underline;
}

.archive__item-title {
  background: white;
  border-radius: 20px;
  padding: 1rem;
  border: 3px solid #cbd5e1;
  margin-top: 1rem;
}

.archive__item-teaser {
  border-radius: 20px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.archive__item-excerpt {
  background: white;
  border-radius: 20px;
  padding: 1rem;
  border: 3px solid #cbd5e1;
  margin-bottom: 1rem;
}

/* GREEN

.page__footer {
  background-color: #c7ffad; 
}

button.search__toggle {
  color: #c7ffad; 
}

button.search__toggle::after {
  color: #7cb860; 
}

.greedy-nav .visible-links a:before { content: ""; position: absolute; inset-inline-start: 0; bottom: 0; height: 4px; background: #c7ffad; width: 100%; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; -webkit-transform: scaleX(0) translate3d(0, 0, 0); transform: scaleX(0) translate3d(0, 0, 0); }

a {
  color: #7cb860;
}

 */

